{% extends 'base_wide.html' %}

{% block content %}
    <h1>About</h1>
    <h3>윤하도서관 소개</h3>
    <p>윤하도서관은 여러 사이트(트위터, 유튜브, 윤하이야기, 윤하갤러리 등)에 흩어져 있는 윤하의 사진과 영상의 링크를 한 데 모아서
        원하는 사진이나 영상을 쉽게 찾고 수집할 수 있게 해주는 장소입니다. 윤하의 여러 팬 커뮤니티에서 특정 사진이나 영상을 찾는 글을 종종 봐왔고,
        저 또한 찾고 싶은 종류의 사진이 있었던 경우가 많아서 이러한 링크의 모음집의 필요성을 느껴 왔습니다. 그렇게 개인적으로 사용하기 위해 개발을 시작했지만
        다른 팬 분들 또한 여기를 통해 편리함과 즐거움을 얻으실 수 있을 것 같아 사이트를 공개하게 되었습니다.</p>
    <p>윤하도서관은 제 개인 프로젝트이며 제 사비로 운영되고 외부의 지원을 받지 않고 있습니다. 관리 및 유지보수도 혼자 하고 있습니다. 모든 문의는
        <a href="https://twitter.com/happytogekiss" target="_blank">제 트위터</a>를 통해 받고 있습니다.</p>
    <p>윤하도서관은 수익을 창출하지 않습니다.</p>
    <h3>이용 안내</h3>
    <h4><a href="{% url 'media-list' %}">Gallery</a></h4>
    <p>갤러리에서는 윤하도서관에 등록된 모든 미디어를 조회할 수 있습니다. 사이드바에 있는 크리에이터와 태그를 클릭해 특정 크리에이터가 업로드한 미디어나
        특정 태그가 달린 미디어를 조회할 수도 있습니다. (사이드바에 없는 크리에이터/태그나 좀더 고급 필터가 필요한 경우에는
        <a href="{% url 'media-search' %}">Search</a> 탭을 이용해 주세요.)</p>
    <p>미디어에는 Image(사진), Video(영상), Youtube video(유튜브) 세 종류가 있습니다. 각 미디어에 마우스를 올리면(모바일에서는 클릭) 두 가지 링크가
        나타납니다. 첫 번째 링크를 누르면 해당 페이지에 있는 미디어를 슬라이드쇼처럼 감상할 수 있고, 두 번째 링크를 누르면 미디어의 자세한 정보를 확인할 수
        있습니다.</p>
    <p><span class="fw-bold">크리에이터와 원작자는 다를 수 있습니다.</span> 사진이나 영상의 원본 출처를 확인하기 어려운 경우도
        있기 때문입니다. 크리에이터가 원작자로 확인된 경우에는 원본 출처 확인 마크<i class="bi bi-check-circle-fill text-success" title="원본 출처 확인됨"></i>가
        붙습니다.</p>
    <h4><a href="{% url 'media-archive' %}">Archive</a></h4>
    <p>아카이브에서는 미디어를 업로드 날짜별로 확인할 수 있습니다. 드물게 업로드 날짜가 확인되지 않는 미디어도 있을 수 있는데, 그런 미디어는 조회할 수 없습니다.</p>
    <h4><a href="{% url 'media-search' %}">Search</a></h4>
    <p>검색에서는 찾고 싶은 미디어를 여러 필터를 추가하여 검색할 수 있습니다.</p>
    <h3>유의 사항</h3>
    <ul>
        <li><p><span class="fw-bold">윤하도서관에 올라온 <u>모든</u> 미디어의 저작권은 윤하도서관이 아닌 해당 미디어의 원작자에게 있습니다.
            따라서 원작자의 허가 없이 2차 가공을 하거나 상업적으로 이용해서는 안되며, 이를 위반해서 발생하는 문제를 윤하도서관에서는 책임지지 않습니다.
            </span></p></li>
        <li><p><a href="{% url 'media-list' %}">갤러리</a>에서 볼 수 있는 사진과 영상은 대부분 원본의 링크만 가져와서 전시하는 방식입니다.
            따라서 원본 사진이나 영상이 삭제되거나 변경될 경우 윤하도서관에서도 정상적으로 볼 수 없을 수 있습니다.</p></li>
        <li><p>사진과 영상이 많은 윤하도서관 특성상 데이터의 사용량이 매우 많습니다. Wi-Fi나 모바일 데이터가 충분한 환경에서 접속하는 것을 권장드립니다.</p></li>
        <li><p>윤하도서관의 미디어는 원본이 아닐 수 있습니다. 원본은 출처를 참고하거나 원작자에게 문의 바랍니다.</p></li>
    </ul>
{% endblock %}
