{% load static %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{% static "img/yholics_logo.svg" %}">
    <title>{% block title %}Younha Library{% endblock %} | Younha Library</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">

    {% block media %}{% endblock %}
    <link rel="stylesheet" href="{% static "css/main.css" %}">
</head>
<body>
    <header class="navbar navbar-expand-lg yh-navbar sticky-top">
        <nav class="container-xxl flex-wrap flex-lg-nowrap">
            {% block sidebar_toggler %}
                <div class="d-lg-none" style="width: 56px; height: 40px"></div>
            {% endblock %}
            <a class="navbar-brand p-0 me-0 me-lg-2" href="{% url 'index' %}">
                {% include 'yholics_logo.svg' %}
            </a>
            <div class="offcanvas-lg offcanvas-end flex-grow-1" id="yhNavbar" data-bs-scroll="true">
                <div class="offcanvas-header px-4 pb-0">
                    <h5 class="offcanvas-title">Younha library</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#yhNavbar"></button>
                </div>
                <div class="offcanvas-body p-4 pt-0 p-lg-0">
                    <hr class="d-lg-none text-blue-50">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'about' %}">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'media-list' %}">Gallery</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'media-archive' %}">Archive</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'media-search' %}">Search</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#yhNavbar">
                <i class="bi bi-three-dots"></i>
            </button>
        </nav>
    </header>
    {% block main %}{% endblock %}
    <footer class="py-4 py-md-5 mt-5 bg-light yh-footer">
        <div class="container py-4 py-md-5 px-4 px-md-3">
            <div class="mb-2">
                <span class="fw-semibold fs-5">Younha Library</span>
            </div>
            <ul class="list-unstyled small text-muted">
                <li class="mb-2">Designed and built by <a class="text-reset" href="https://twitter.com/happytogekiss">@happytogekiss</a>.</li>
                <li class="mb-2">이 사이트는 수익을 창출하지 않는 개인 프로젝트이며 C9 엔터테인먼트로부터 승인이나 지원을 받고 있지 않습니다.</li>
            </ul>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous">
    </script>
    {% block inline-script %}{% endblock %}
</body>
</html>