{% extends 'base.html' %}
{% load static %}

{% block main %}
    <main>
        <div class="yh-wallpaper">
            <img class="yh-image img-fluid" src="{% static "img/universe.png" %}">
            <div class="yh-welcome d-flex align-items-center justify-content-center">
                <h1 class="text-white" style="font-family: Didot; font-weight: bold;">Younha Library</h1>
            </div>
        </div>
        <div class="container-xxl mt-3 my-md-4">
            <h3>윤하도서관에 오신 것을 환영합니다!</h3>
            <p>여기는 홀릭스와 윤하의 기록으로 향하는 허브입니다. 자세한 이용 안내는 <a href="/about/">여기</a>로 가주세요.</p>
            <p>윤하의 사진이나 영상을 찾아보고 싶으시다면 <a href="{% url 'media-list' %}">갤러리</a>로 가주세요.</p>
        </div>
    </main>
{% endblock %}
