{% extends 'medialib/base_media.html' %}

{% block sidebar %}
    {% include 'medialib/includes/sidebar_gallery.html' %}
{% endblock %}

{% block media-content %}
    <div class="row gy-1 yh-content mb-4">
        {% for media in page_obj %}
            <div class="col-xl-3 col-lg-4 col-md-6 align-self-center text-center">
                <figure>
                    <div class="gallery">
                        {% if media.type == media.TYPE_IMAGE %}
                            <img class="w-100 media" src="{{ media.get_thumbnail_url }}" alt="{{ media }}">
                        {% elif media.type == media.TYPE_VIDEO %}
                            <video class="w-100 media" src="{{ media.url }}" autoplay muted loop>
                                Video not supported
                            </video>
                        {% endif %}
                        <div class="gallery-links d-flex px-3 py-2 align-items-start">
                            <a href="{{ media.url }}" class="glightbox preview-link" data-glightbox="type: {% if media.type == media.TYPE_IMAGE %}image{% else %}video{% endif %}">
                                <i class="bi bi-arrows-angle-expand"></i>
                            </a>
                            <a href="{{ media.get_absolute_url }}" class="details-link">
                                <i class="bi bi-info-circle"></i>
                            </a>
                        </div>
                    </div>
                    <figcaption>
                        <p class="text-muted small">
                            <a class="text-reset" href="{{ media.source.url }}" target="_blank">{{ media.creator.name }}</a>{% if media.license.display %}/
                            {% if media.license.url %}
                                <a class="text-reset" href="{{ media.license.url }}" target="_blank">{{ media.license }}</a>
                            {% else %}
                                <a class="text-reset" href="{{ media.license.get_absolute_url }}" target="_blank">{{ media.license }}</a>
                            {% endif %}{% endif %}
                        </p>
                    </figcaption>
                </figure>
            </div>
        {% endfor %}
    </div>
{% endblock %}
