{% extends 'medialib/base_media.html' %}

{% block sidebar %}
    {% include 'medialib/includes/sidebar_gallery.html' %}
{% endblock %}

{% block media-content %}
    <div class="row gy-1 yh-content mb-4">
        {% for media in page_obj %}
            <div class="col-xl-4 col-md-6 align-self-center">
                <figure>
                    <div class="gallery">
                        {% if media.type == media.TYPE_IMAGE %}
                            <img class="w-100 media" src="{{ media.get_thumbnail_url }}" alt="{{ media }}">
                        {% elif media.type == media.TYPE_VIDEO %}
                            <video class="w-100 media" src="{{ media.url }}" autoplay muted loop>
                                Video not supported
                            </video>
                        {% endif %}
                        <div class="gallery-links d-flex flex-column" data-bs-theme="dark">
                            <div class="d-flex px-3 pt-2 align-items-start">
                                <a href="{{ media.url }}" class="glightbox preview-link" data-glightbox="type: {% if media.type == media.TYPE_IMAGE %}image{% else %}video{% endif %}">
                                    <i class="bi bi-arrows-angle-expand"></i>
                                </a>
                                <a href="{{ media.get_absolute_url }}" class="details-link">
                                    <i class="bi bi-info-circle"></i>
                                </a>
                                <a href="{{ media.source.url }}" class="details-link ms-auto" style="font-size: 2rem;" target="_blank">
                                    <i class="bi bi-link-45deg"></i>
                                </a>
                            </div>
                            <div class="px-3 pb-2 mt-auto d-flex text-body">
                                <a href="{{ media.creator.get_gallery_url }}"><img width="32rem" height="32rem" src="{{ media.creator.get_profile_img_url }}" class="border rounded-circle bg-secondary me-1" alt="Profile"></a>
                                <div class="ms-1" style="font-size: 0.7rem;">
                                    <a class="text-decoration-none text-reset fs-6 yh-photo-title" href="{{ media.source.url }}" target="_blank" title="{{ media.official_title }}">{{ media.official_title }}</a>
                                    <a href="{{ media.creator.get_gallery_url }}" class="text-decoration-none text-reset">{{ media.creator }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </figure>
            </div>
        {% endfor %}
    </div>
{% endblock %}
