{% extends 'base_3col.html' %}

{% block media %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glightbox/dist/css/glightbox.min.css" />
    <script src="https://cdn.jsdelivr.net/gh/mcstudios/glightbox/dist/js/glightbox.min.js"></script>
{% endblock %}

{% block dates %}
    <button class="btn btn-link mb-2 yh-dates-toggle d-md-none text-decoration-none" type="button" data-bs-toggle="collapse" aria-expanded="false" data-bs-target="#dateContents">
        Date: {% if date_year %}{{ date_year }}년{% if date_month %} {{ date_month }}월{% if date_day %} {{ date_day }}일{% endif %}{% endif %}{% else %}All{% endif %}
        <i class="bi bi-chevron-expand ms-2"></i>
    </button>
    <strong class="d-none d-md-block h6 my-2">Dates <i class="bi bi-calendar3"></i></strong>
    <hr class="d-none d-md-block my-2">
    <div class="yh-dates-collapse collapse" id="dateContents">
        <nav id="mediaByDates" class="nav-pills flex-column">
            {% regroup dates by year as year_list %}
            <ul>
                <li><a class="my-auto{% if not date_year %} active{% endif %}" href="?{{ query_for_dates }}">All</a></li>
                {% for year, year_dates in year_list %}
                    <li>
                        <div class="d-flex">
                            <button type="button" class="btn my-auto me-2 yh-dates-btn{% if year != date_year %} collapsed{% endif %}" data-bs-toggle="collapse" data-bs-target="#year{{ year }}"></button>
                            <a class="my-auto{% if year == date_year %} active{% endif %}" href="?{{ query_for_dates }}year={{ year }}">{{ year }}년</a>
                        </div>
                        {% regroup year_dates by month as month_list %}
                        <ul class="collapse{% if year == date_year %} show{% endif %}" id="year{{ year }}">
                            {% for month, month_dates in month_list %}
                                <li>
                                    <div class="d-flex">
                                        <button type="button" class="btn my-auto me-2 yh-dates-btn{% if year != date_year or month != date_month %} collapsed{% endif %}" data-bs-toggle="collapse" data-bs-target="#date{{ year }}{{ month }}"></button>
                                        <a class="my-auto{% if year == date_year and month == date_month %} active{% endif %}" href="?{{ query_for_dates }}year={{ year }}&month={{ month }}">{{ month }}월</a>
                                    </div>
                                    <ul class="collapse{% if year == date_year and month == date_month %} show{% endif %}" id="date{{ year }}{{ month }}">
                                        {% for date in month_dates %}
                                            <li><a class="my-auto{% if year == date_year and month == date_month and date.day == date_day %} active{% endif %}" href="?{{ query_for_dates }}year={{ year }}&month={{ month }}&day={{ date.day }}">{{ date.day }}일</a></li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            </ul>
        </nav>
    </div>
{% endblock %}

{% block content %}
    {% if page_obj %}
        <div class="btn-toolbar justify-content-between mb-3 mt-2" role="toolbar">
            <div class="btn-group" role="group">
                <a class="btn btn-outline-secondary{% if sort == 'date' and order == 'desc' %} active{% endif %}" href="?{{ query_for_ordering }}sort=date&order=desc">날짜 역순</a>
                <a class="btn btn-outline-secondary{% if sort == 'date' and order == 'asc' %} active{% endif %}" href="?{{ query_for_ordering }}sort=date&order=asc">날짜순</a>
                <a class="btn btn-outline-secondary{% if sort == 'random' %} active{% endif %}" href="?{{ query_for_ordering }}sort=random">셔플</a>
            </div>
            <div class="btn-group" role="group">
                {% if page_obj.has_previous %}
                    <a class="btn btn-outline-secondary" href="?{{ query_for_page }}page={{ page_obj.previous_page_number }}"><i class="bi bi-caret-left-fill"></i></a>
                {% else %}
                    <a class="btn btn-outline-secondary disabled" href="#"><i class="bi bi-caret-left-fill"></i></a>
                {% endif %}
                {% if page_obj.has_next %}
                    <a class="btn btn-outline-secondary" href="?{{ query_for_page }}page={{ page_obj.next_page_number }}"><i class="bi bi-caret-right-fill"></i></a>
                {% else %}
                    <a class="btn btn-outline-secondary disabled" href="#"><i class="bi bi-caret-right-fill"></i></a>
                {% endif %}
            </div>
        </div>
        <p class="text-muted small">저작권 보호를 받는 미디어일 수 있습니다.</p>
        {% block media-content %}{% endblock %}
        <nav class="d-flex justify-content-center" aria-label="Page navigation">
            <ul class="pagination pagination-sm">
                {% for page_num in page_range %}
                    {% if page_num == page_obj.number %}
                        <li class="page-item active"><span class="page-link">{{ page_num }}</span></li>
                    {% elif page_num == paginator.ELLIPSIS %}
                        <li class="page-item disbaled"><span class="page-link">{{ page_num }}</span></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?{{ query_for_page }}page={{ page_num }}">{{ page_num }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </nav>
    {% else %}
        <p>아무것도 없어요!</p>
    {% endif %}
{% endblock %}

{% block inline-script %}
    <script type="text/javascript">
        var tag = document.createElement('script');
        tag.src = "https://www.youtube.com/iframe_api";
        var firstScriptTag = document.getElementsByTagName('script')[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
        const lightbox = GLightbox({
            descPosition: "right"
        });
    </script>
    {% block additional-script %}{% endblock %}
{% endblock %}