{% extends 'medialib/base_media.html' %}

{% block sidebar %}
    {% include 'medialib/includes/sidebar_youtube.html' %}
{% endblock %}

{% block media-content %}
    <div class="row gy-4 yh-content mb-4">
        {% for media in page_obj %}
            <div class="col-xl-4 col-md-6 align-self-center text-center">
                <figure>
                    <div class="gallery">
                        <div class="w-100 media ratio ratio-16x9">
                            <iframe class="yt-player" id="player-{{ media.pk }}" src="{{ media.get_embed_url }}?{{ youtube_query }}" title="YouTube video player" frameborder="0"></iframe>
                        </div>
                        <div class="gallery-links d-flex px-3 py-2 align-items-start">
                            <a href="{{ media.url }}" class="glightbox preview-link">
                                <i class="bi bi-arrows-angle-expand"></i>
                            </a>
                            <a href="{{ media.get_absolute_url }}" class="details-link">
                                <i class="bi bi-info-circle"></i>
                            </a>
                        </div>
                    </div>
                </figure>
            </div>
        {% endfor %}
    </div>
{% endblock %}
