{% extends 'medialib/base_gallery.html' %}

{% block media %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glightbox/dist/css/glightbox.min.css" />
    <script src="https://cdn.jsdelivr.net/gh/mcstudios/glightbox/dist/js/glightbox.min.js"></script>
{% endblock %}

{% block content %}
    <hr>
    {% if page_obj %}
        <p class="text-muted small">저작권 보호를 받는 미디어일 수 있습니다.</p>
        <div class="btn-toolbar justify-content-between mb-4" role="toolbar">
            <div class="btn-group" role="group">
                <a class="btn btn-light{% if order == 'desc' %} active{% endif %}" href="?{% if query %}{{ query.urlencode }}&{% endif %}order=desc">날짜 역순</a>
                <a class="btn btn-light{% if order == 'asc' %} active{% endif %}" href="?{% if query %}{{ query.urlencode }}&{% endif %}order=asc">날짜순</a>
                <a class="btn btn-light{% if order == 'random' %} active{% endif %}" href="?{% if query %}{{ query.urlencode }}&{% endif %}order=random">셔플</a>
            </div>
            <div class="btn-group" role="group">
                {% if page_obj.has_previous %}
                    <a class="btn btn-light" href="?{% if query %}{{ query.urlencode }}&{% endif %}order={{ order }}&page={{ page_obj.previous_page_number }}"><i class="bi bi-caret-left-fill"></i></a>
                {% else %}
                    <a class="btn btn-light disabled" href="#"><i class="bi bi-caret-left-fill"></i></a>
                {% endif %}
                {% if page_obj.has_next %}
                    <a class="btn btn-light" href="?{% if query %}{{ query.urlencode }}&{% endif %}order={{ order }}&page={{ page_obj.next_page_number }}"><i class="bi bi-caret-right-fill"></i></a>
                {% else %}
                    <a class="btn btn-light disabled" href="#"><i class="bi bi-caret-right-fill"></i></a>
                {% endif %}
            </div>
        </div>
        <div class="row gy-4 yh-content mb-4">
            {% for media in page_obj %}
                <div class="col-xl-3 col-lg-4 col-md-6 align-self-center text-center">
                    <figure>
                        <div class="gallery">
                            {% if media.type == media.TYPE_IMAGE %}
                                <img class="w-100 media" src="{{ media.url }}" alt="{{ media }}">
                            {% elif media.type == media.TYPE_VIDEO %}
                                <video class="w-100 media" src="{{ media.url }}" autoplay muted loop>
                                    Video not supported
                                </video>
                            {% elif media.type == media.TYPE_YOUTUBE %}
                                <iframe class="w-100 media" src="https://www.youtube.com/embed/{{ media.youtube_id }}" title="YouTube video player" frameborder="0" allow="autoplay; muted; loop"></iframe>
                            {% endif %}
                            <div class="gallery-links d-flex px-3 py-2 align-items-start">
                                <a href="{{ media.url }}" class="glightbox preview-link" data-glightbox="type: {% if media.type == "I" %}image{% else %}video{% endif %}">
                                    <i class="bi bi-arrows-angle-expand"></i>
                                </a>
                                <a href="{% url 'media-detail' media.pk %}" class="details-link">
                                    <i class="bi bi-info-circle"></i>
                                </a>
                            </div>
                        </div>
                        <figcaption>
                            <p class="text-muted small">
                                <a class="text-reset" href="{{ media.source.url }}" target="_blank">{{ media.creator.name }}</a>{% if media.license.display %}/
                                {% if media.license.url %}
                                    <a class="text-reset" href="{{ media.license.url }}" target="_blank">{{ media.license }}</a>
                                {% else %}
                                    {{ media.license }}
                                {% endif %}{% endif %}
                            </p>
                        </figcaption>
                    </figure>
                </div>
            {% endfor %}
        </div>
        <nav class="d-flex justify-content-center" aria-label="Page navigation">
            <ul class="pagination">
                {% for page_num in page_range %}
                    {% if page_num == page_obj.number %}
                        <li class="page-item active"><span class="page-link">{{ page_num }}</span></li>
                    {% elif page_num == paginator.ELLIPSIS %}
                        <li class="page-item disbaled"><span class="page-link">{{ page_num }}</span></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?{% if query %}{{ query.urlencode }}&{% endif %}order={{ order }}&page={{ page_num }}">{{ page_num }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </nav>
    {% else %}
        <p>아무것도 없어요!</p>
    {% endif %}
{% endblock %}

{% block inline-script %}
    <script type="text/javascript">
        const lightbox = GLightbox({
            descPosition: "right"
        });
    </script>
{% endblock %}