{% extends 'medialib/base_media.html' %}

{% block sidebar %}
    <div class="offcanvas-header border-bottom">
        <h5 class="offcanvas-title">Browse gallery</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#yhSidebar"></button>
    </div>
    <div class="offcanvas-body">
        <ul class="yh-sidebar-nav list-unstyled mb-0 pb-3 pb-md-2 pe-lg-2">
            <li class="yh-sidebar-group py-2">
                <strong class="fw-semibold"><i class="bi bi-camera"></i> <a class="yh-list-link" href="{% url 'creator-list' %}">Creators</a></strong>
                <ul class="list-unstyled fw-normal pb-2 small">
                    {% for creator in creator_list %}
                        <li>
                            <a class="yh-link d-inline-flex align-items-center rounded" href="{{ creator.get_youtube_video_url }}">
                                <img width="16rem" height="16rem" src="{{ creator.get_profile_img_url }}" class="border rounded-circle bg-secondary me-1">
                                {{ creator }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </li>
            <li class="yh-sidebar-group py-2">
                <strong class="fw-semibold"><i class="bi bi-tags"></i> <a class="yh-list-link" href="{% url 'tag-list' %}">Tags</a></strong>
                <ul class="list-unstyled fw-normal pb-2">
                    {% for tag in tag_list %}
                        <li><a class="yh-badge-link d-inline-block rounded" href="{{ tag.get_youtube_video_url }}"><span class="badge yh-badge">{{ tag }}</span></a></li>
                    {% endfor %}
                </ul>
            </li>
            <li class="yh-sidebar-group py-2">
                <strong class="fw-semibold"><i class="bi bi-link"></i> External links</strong>
                <ul class="list-unstyled fw-normal pb-2 small">
                    {% for link in external_links %}
                        <li><a class="yh-link d-inline-block rounded" href="{{ link.url }}" target="_blank">{{ link }} <i class="bi bi-box-arrow-up-right"></i></a></li>
                    {% endfor %}
                </ul>
            </li>
        </ul>
    </div>
{% endblock %}

{% block media-content %}
    <div class="row gy-4 yh-content mb-4">
        {% for media in page_obj %}
            <div class="col-xl-4 col-md-6 align-self-center text-center">
                <figure>
                    <div class="gallery">
                        <div class="w-100 media ratio ratio-16x9">
                            <iframe class="yt-player" id="player-{{ media.pk }}" src="https://www.youtube.com/embed/{{ media.youtube_id }}?{{ youtube_query }}" title="YouTube video player" frameborder="0"></iframe>
                        </div>
                        <div class="gallery-links d-flex px-3 py-2 align-items-start">
                            <a href="{{ media.url }}" class="glightbox preview-link" data-glightbox="type: {% if media.type == media.TYPE_IMAGE %}image{% else %}video{% endif %}">
                                <i class="bi bi-arrows-angle-expand"></i>
                            </a>
                            <a href="{{ media.get_absolute_url }}" class="details-link">
                                <i class="bi bi-info-circle"></i>
                            </a>
                        </div>
                    </div>
                    <figcaption>
                        <p class="text-muted small">
                            <a class="text-reset" href="{{ media.url }}" target="_blank">{{ media.creator.name }}</a>{% if media.license.display %}/
                            {% if media.license.url %}
                                <a class="text-reset" href="{{ media.license.url }}" target="_blank">{{ media.license }}</a>
                            {% else %}
                                <a class="text-reset" href="{{ media.license.get_absolute_url }}" target="_blank">{{ media.license }}</a>
                            {% endif %}{% endif %}
                        </p>
                    </figcaption>
                </figure>
            </div>
        {% endfor %}
    </div>
{% endblock %}
