{% extends 'medialib/base_gallery.html' %}

{% block content %}
    <hr>
    <div class="row gy-4 yh-content mb-4">
        {% for media in page_obj %}
            <div class="col-xl-3 col-lg-4 col-md-6 align-self-center">
                <div class="gallery">
                    {% if media.type == "I" %}
                        <img class="w-100 media" src="{{ media.url }}" alt="{{ media }}">
                    {% elif media.type == "V" %}
                        <video class="w-100 media" src="{{ media.url }}" autoplay muted loop>
                            Video not supported
                        </video>
                    {% elif media.type == "Y" %}
                        <img class="w-100 media" src="https://img.youtube.com/vi/{{ media.youtube_id }}/0.jpg" alt="{{ media }}">
                    {% endif %}
                    <div class="gallery-links d-flex px-3 py-2 align-items-start">
                        <a href="{{ media.url }}" class="glightbox preview-link">
                            <i class="bi bi-arrows-angle-expand"></i>
                        </a>
                        <a href="{% url 'media-detail' media.pk %}" class="details-link">
                            <i class="bi bi-link-45deg"></i>
                        </a>
                    </div>
                </div>
            </div>
        {% empty %}
            <div class="col-12">아무것도 없어요!</div>
        {% endfor %}
    </div>
    <nav class="d-flex justify-content-center" aria-label="Page navigation">
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link" href="?page=1">1</a></li>
            {% endif %}
            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">
                        {{ page_obj.paginator.num_pages }}
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Previous">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}