{% extends 'medialib/base_flat.html' %}
{% load humanize %}

{% block title %}{{ creator }}{% endblock %}

{% block intro %}
    <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a class="text-reset" href="{% url 'creator-list' %}">Creators</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ creator.name }}</li>
        </ol>
    </nav>
    <div class="d-flex align-items-center">
        <div class="flex-shrink-0">
            <img width="100rem" height="100rem" src="{{ creator.get_profile_img_url }}" class="border rounded-circle bg-secondary">
        </div>
        <div class="align-self-start ms-4">
            <span class="fs-1 fw-semibold text-emphasis">{{ creator.name }}</span>
            <div class="mb-1">
                {% for website in creator.websites.all %}
                    <a href="{{ website.url }}" target="_blank"><img width="20px" height="20px" src="{{ website.get_icon_url }}"></a>
                {% endfor %}
            </div>
            <span class="text-muted">미디어 {{ creator.media_count|intcomma }}개</span>
        </div>
    </div>
    <div class="yh-text my-3">{{ creator.description }}</div>
    {% if gallery_preview %}
        <div class="card my-4">
            <div class="card-header">
                <i class="bi bi-images"></i> 최근 사진 및 영상 <a class="text-reset ms-4" href="{% url 'creator-gallery' creator.pk %}">+ 전체보기</a>
            </div>
            <div class="card-body row gy-2">
                {% for media in gallery_preview %}
                    <div class="col-xl-3 col-lg-6 align-self-center text-center">
                        <figure>
                            <div class="gallery">
                                <a href="{% url 'filemedia-detail' media.pk %}">
                                    {% if media.type == media.TYPE_IMAGE %}
                                        <img class="w-100" src="{{ media.get_thumbnail_url }}" alt="{{ media }}">
                                    {% elif media.type == media.TYPE_VIDEO %}
                                        <video class="w-100" src="{{ media.url }}" autoplay muted loop>
                                            Video not supported
                                        </video>
                                    {% endif %}
                                </a>
                            </div>
                        </figure>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
    {% if youtube_preview %}
        <div class="card my-4">
            <div class="card-header">
                <i class="bi bi-youtube"></i> 최근 YouTube 영상 <a class="text-reset ms-4" href="{% url 'creator-youtube' creator.pk %}">+ 전체보기</a>
            </div>
            <div class="card-body row gy-2">
                {% for media in youtube_preview %}
                    <div class="col-lg-3 col-md-6">
                        <figure>
                            <div class="gallery">
                                <a href="{% url 'youtubevideo-detail' media.pk %}">
                                    <img class="w-100" src="{{ media.get_youtube_thumbnail }}" alt="{{ media }}">
                                </a>
                            </div>
                            <figcaption class="mt-2">
                                <h6 class="mb-1"><a class="text-decoration-none text-reset" href="{{ media.url }}" target="_blank">{{ media.title|truncatechars:40 }}</a></h6>
                            </figcaption>
                        </figure>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
    {% if not gallery_preview and not youtube_preview %}
        <hr>
        <p>아무것도 없어요!</p>
    {% endif %}
{% endblock %}
