{% extends 'medialib/base_flat.html' %}

{% block title %}{{ media.official_title }}{% endblock %}

{% block content %}
    <div class="d-flex flex-wrap yh-media">
        {% if media.type == media.TYPE_IMAGE %}
            <img class="mw-100" src="{{ media.url }}" alt="{{ media }}">
        {% elif media.type == media.TYPE_VIDEO %}
            <video class="mw-100" src="{{ media.url }}" controls>
                Video not supported
            </video>
        {% elif media.type == media.TYPE_YOUTUBE %}
            <div class="ratio ratio-16x9">
                <iframe src="https://www.youtube.com/embed/{{ media.youtube_id }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        {% endif %}
        <div>
            {% if media.creator %}
                <h3>
                    {% if media.creator.platform and media.creator.platform.bootstrap_icon %}
                        <a class="yh-link d-inline-block rounded" href="{{ media.creator.get_absolute_url }}">{{ media.creator.name }} <i class="bi bi-{{ media.creator.platform.bootstrap_icon }}"></i></a>
                    {% else %}
                        <a class="yh-link d-inline-block rounded" href="{{ media.creator.get_absolute_url }}">{{ media.creator }}</a>
                    {% endif %}
                    {% if media.verified %}
                        <i class="bi bi-check-circle-fill text-success" title="원작자 확인됨"></i>
                    {% endif %}
                </h3>
            {% endif %}
            {% if media.title %}
                <h2>{{ media.title }}</h2>
            {% endif %}
            {% if media.date_exact %}
                <p><i class="bi bi-calendar-check"></i> {{ media.date|date:"Y년 n월 j일" }}</p>
            {% else %}
                <p><i class="bi bi-calendar"></i> {{ media.date|date:"Y년 n월 j일" }}</p>
            {% endif %}
            {% if media.description %}
                <p>{{ media.description }}</p>
            {% endif %}
            <p class="text-muted"><span class="badge bg-secondary rounded-pill me-2">출처</span><a class="text-reset" href="{{ media.source.url }}" target="_blank">{{ media.official_title }}</a></p>
            {% if media.license and media.license.display %}
                {% if media.license.url %}
                    <p class="text-muted"><span class="badge bg-secondary rounded-pill me-2">라이선스</span><a class="text-reset" href="{{ media.license.url }}" target="_blank">{{ media.license }}</a></p>
                {% else %}
                    <p class="text-muted"><span class="badge bg-secondary rounded-pill me-2">라이선스</span><a class="text-reset" href="{{ media.license.get_absolute_url }}">{{ media.license }}</a></p>
                {% endif %}
            {% endif %}
            <p>
                <i class="bi bi-tags-fill"></i>
                {% for tag in media.tags.all %}
                    <a class="yh-badge-link" href="{{ tag.get_absolute_url }}"><span class="badge yh-badge">{{ tag }}</span></a>
                {% endfor %}
            </p>
        </div>
    </div>
{% endblock %}