{% extends 'medialib/base_gallery_list.html' %}
{% load humanize %}

{% block title %}Search{% endblock %}

{% block media %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glightbox/dist/css/glightbox.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.3.0/dist/select2-bootstrap-5-theme.min.css" />

    <script src="https://cdn.jsdelivr.net/gh/mcstudios/glightbox/dist/js/glightbox.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.full.min.js"></script>
{% endblock %}

{% block intro %}
    <h1>Search</h1>
    <p>여기서는 등록된 사진과 영상을 검색해볼 수 있습니다.</p>
    {% if request.GET %}
        <p>총 <span class="fw-semibold">{{ paginator.count|intcomma }}개</span>의 검색 결과가 있습니다.</p>
    {% endif %}
    <form action="{% url 'media-search' %}" method="GET">
        <div class="input-group">
                {{ form.keyword }}
                <button type="submit" class="btn btn-primary">Search</button>
{#                <button type="button" class="btn btn-light" data-bs-toggle="collapse" data-bs-target="#yhCollapse">#}
{#                    Advanced#}
{#                </button>#}
        </div>
        <div class="row my-2">
            <div class="col">
                <label for="{{ form.type.id_for_label }}" class="form-label">미디어 종류</label>
                {{ form.type }}
            </div>
            <div class="col">
                <label for="{{ form.creator.id_for_label }}" class="form-label">크리에이터</label>
                {{ form.creator }}
            </div>
            <div class="col">
                <label for="{{ form.tags.id_for_label }}" class="form-label">태그</label>
                {{ form.tags }}
            </div>
        </div>
        <div class="row my-2">
            <div class="col">
                <label for="{{ form.start_date.id_for_label }}" class="form-label">시작 날짜</label>
                {{ form.start_date }}
                {% if form.start_date.errors %}
                    <div class="alert alert-danger mt-2" role="alert">
                        {% for error in form.start_date.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="col">
                <label for="{{ form.end_date.id_for_label }}" class="form-label">마지막 날짜</label>
                {{ form.end_date }}
                {% if form.end_date.errors %}
                    <div class="alert alert-danger mt-2" role="alert">
                        {% for error in form.end_date.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    </form>
{% endblock %}

{% block additional-script %}
    <script type="text/javascript">
        $(document).ready(function() {
            $("#{{ form.type.id_for_label }}").select2({
                theme: "bootstrap-5",
                width: "100%",
                allowClear: true,
            });
            $("#{{ form.creator.id_for_label }}").select2({
                theme: "bootstrap-5",
                width: "100%",
                allowClear: true,
            });
            $("#{{ form.tags.id_for_label }}").select2({
                theme: "bootstrap-5",
                width: "100%",
                maximumSelectionLength: {{ tag_search_limit }},
            });
        });
    </script>
{% endblock %}