{% extends 'medialib/base_gallery_list.html' %}
{% load humanize %}

{% block title %}{{ creator }}{% endblock %}

{% block intro %}
    <div class="d-flex align-items-center">
        <div class="flex-shrink-0">
            <img width="80rem" height="80rem" src="{{ creator.get_profile_img_url }}" class="border rounded-circle bg-secondary">
        </div>
        <div class="align-self-start ms-3">
            <h1>{{ creator.name }}</h1>
            {% for website in creator.websites.all %}
                <a href="{{ website.url }}" target="_blank"><img width="20px" height="20px" src="{{ website.get_icon_url }}"></a>
            {% endfor %}
        </div>
    </div>
    {% if creator.description %}
        <div class="yh-text mt-3">{{ creator.description }}</div>
    {% endif %}
{% endblock %}
