{% extends 'medialib/base_gallery.html' %}

{% block title %}{{ media }}{% endblock %}

{% block content %}
    <div class="d-flex flex-wrap yh-media">
        <div>
            {% if media.type == "I" %}
                <img class="mw-100" src="{{ media.url }}" alt="{{ media }}">
            {% elif media.type == "V" %}
                <video class="mw-100" src="{{ media.url }}" controls>
                    Video not supported
                </video>
            {% elif media.type == "Y" %}
                <iframe width="560" height="315" class="mw-100" src="https://www.youtube.com/embed/{{ media.youtube_id }}">

                </iframe>
            {% endif %}
        </div>
        <div>
            {% if media.creator %}
                <h3>
                    {% if media.creator.platform and media.creator.platform.bootstrap_icon %}
                        <a class="yh-link d-inline-block rounded" href="{% url 'media-creator' media.creator.pk %}">{{ media.creator.name }} <i class="bi bi-{{ media.creator.platform.bootstrap_icon }}"></i></a>
                    {% else %}
                        <a class="yh-link d-inline-block rounded" href="{% url 'media-creator' media.creator.pk %}">{{ media.creator }}</a>
                    {% endif %}
                    {% if media.verified %}
                        <i class="bi bi-check-circle-fill text-success" title="원작자 확인됨"></i>
                    {% endif %}
                </h3>
            {% endif %}
            {% if media.title %}
                <h2>{{ media.title }}</h2>
            {% endif %}
            {% if media.date_type == 'C' %}
                <p><i class="bi bi-calendar-check" title="미디어 제작 날짜"></i> {{ media.date }}</p>
            {% elif media.date_type == 'E' %}
                <p><i class="bi bi-calendar-minus" title="미디어 제작 날짜 추정"></i> {{ media.date }}</p>
            {% else %}
                <p><i class="bi bi-calendar" title="업로드 날짜"></i> {{ media.date }}</p>
            {% endif %}
            {% if media.description %}
                <p>{{ media.description }}</p>
            {% endif %}
            <p>출처: <a href="{{ media.source.url }}" target="_blank">{{ media.official_title }}</a></p>
            {% if media.license %}
                {% if media.license.url %}
                    <p>라이선스: <a href="{{ media.license.url }}" target="_blank">{{ media.license }}</a></p>
                {% else %}
                    <p>라이선스: <a href="{% url 'media-license' media.license.pk %}">{{ media.license }}</a></p>
                {% endif %}
            {% endif %}
            <p>
                태그:
                {% for tag in media.tags.all %}
                    <a class="yh-badge-link" href="{% url 'media-tag' tag.pk %}"><span class="badge yh-badge">{{ tag }}</span></a>
                {% endfor %}
            </p>
        </div>
    </div>
{% endblock %}