{% extends 'medialib/base_archive.html' %}

{% block title %}{{ day|date:"F j, Y" }}{% endblock %}

{% block date-picker %}
    <div class="d-flex flex-wrap mb-2">
        <div class="btn-group" role="group">
{#            {% if previous_month %}#}
{#                <a class="btn btn-light" href="{% url 'media-month-archive' previous_month|date:"Y" previous_month|date:"b" %}">#}
{#                    <i class="bi bi-chevron-double-left"></i>#}
{#                </a>#}
{#            {% else %}#}
{#                <a class="btn btn-light disabled">#}
{#                    <i class="bi bi-chevron-double-left"></i>#}
{#                </a>#}
{#            {% endif %}#}
            {% if previous_day %}
                <a class="btn btn-light" href="{% url 'media-day-archive' previous_day|date:"Y" previous_day|date:"b" previous_day|date:"j" %}">
                    <i class="bi bi-chevron-left"></i>
                </a>
            {% else %}
                <a class="btn btn-light disabled">
                    <i class="bi bi-chevron-left"></i>
                </a>
            {% endif %}
            {% if next_day %}
                <a class="btn btn-light" href="{% url 'media-day-archive' next_day|date:"Y" next_day|date:"b" next_day|date:"j" %}">
                    <i class="bi bi-chevron-right"></i>
                </a>
            {% else %}
                <a class="btn btn-light disabled">
                    <i class="bi bi-chevron-right"></i>
                </a>
            {% endif %}
{#            {% if next_month %}#}
{#                <a class="btn btn-light" href="{% url 'media-month-archive' next_month|date:"Y" next_month|date:"b" %}">#}
{#                    <i class="bi bi-chevron-double-right"></i>#}
{#                </a>#}
{#            {% else %}#}
{#                <a class="btn btn-light disabled">#}
{#                    <i class="bi bi-chevron-double-right"></i>#}
{#                </a>#}
{#            {% endif %}#}
        </div>
        <h3 class="ms-3"><a class="yh-date-link" href="{% url 'media-year-archive' day|date:"Y" %}">{{ day|date:"Y" }}년</a> <a class="yh-date-link" href="{% url 'media-month-archive' day|date:"Y" day|date:"b" %}">{{ day|date:"n" }}월</a> {{ day|date:"j" }}일</h3>
    </div>
{% endblock %}
