.select2-selection__clear,
.select2-selection__choice__remove {
  opacity: $btn-close-opacity;

  &:hover {
    opacity: $btn-close-hover-opacity;
  }
}

@include color-mode(dark) {
  .select2-selection__clear,
  .select2-selection__choice__remove {
    filter: #{$btn-close-white-filter};
  }
}
