:root {
    --yh-lightblue-rgb: 175,225,255;
}

@media (min-width: 992px) {
    .yh-layout {
        display: grid;
        grid-template-areas: "sidebar main";
        grid-template-columns: 1fr 5fr;
        gap: 2rem;
    }

    .yh-sidebar {
        position: sticky;
        top: 5rem;
        height: calc(100vh - 6rem);
        overflow-y: auto;
    }
}

// overflow hidden has some problem with sticky navbar
.glightbox-open {
    overflow: clip;
}

.yh-navbar {
    padding: 0.75rem 0;
    background-color: transparent;
    background-image: linear-gradient(to bottom, rgba(var(--yh-lightblue-rgb), 1), rgba(var(--yh-lightblue-rgb), 0.95));
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%), inset 0 -1px 0 rgb(0 0 0 / 15%);

    .offcanvas-lg {
        background-color: rgba(var(--yh-lightblue-rgb), 1);
    }
}

.yh-sidebar {
    grid-area: sidebar;

    @media (max-width: 991.98px) {
        .yh-sidebar-nav {
            column-count: 2;
            column-gap: 1.5rem;

            .yh-sidebar-group {
                break-inside: avoid;
            }
        }
    }

    .yh-link, .yh-badge-link {
        padding: 0.1875rem 0.5rem;
        margin-top: 0.125rem;
        margin-left: 1rem;
        text-decoration: none;
    }

    .yh-link {
        color: rgba(0,0,0,0.65);
    }

    .yh-link:hover {
        background-color: rgba(var(--yh-lightblue-rgb), 0.2);
    }
}

.yh-badge {
    color: #000;
    background-color: rgba(248, 249, 250, 1);
}

.yh-badge-link:hover {
    .badge {
        background-color: rgba(var(--yh-lightblue-rgb), 0.2);
    }
}

.yh-main {
    grid-area: main;
    display: grid;
    grid-template-areas:
        "intro"
        "content";
    grid-template-rows: auto 1fr;
}

.yh-wallpaper {
    position: relative;
    overflow: hidden;

    .yh-welcome, .yh-welcome-src {
        position: absolute;
        inset: 0;
    }

    a {
        text-decoration: none;
    }

    a:hover {
        color: rgba(211, 211, 211, 0.7) !important;
    }
}

.yh-media {
    gap: 2rem;

    .yh-link {
        text-decoration: none;
    }
}

.yh-date-link {
    text-decoration: none;
}

.yh-list-link {
    color: black;
    text-decoration: none;
}

.select2-selection {
    overflow: hidden;
}

.select2-selection__rendered {
    white-space: normal;
    word-break: break-all;
}

.select2-search__field {
    width: 100%!important;
}
