<footer class="py-4 py-md-5 mt-5 bg-body-tertiary yh-footer">
    <div class="container py-4 py-md-5 px-4 px-md-3">
        <a class="mb-2 d-inline-flex align-items-center text-body-secondary text-decoration-none" href="{% url 'index' %}">
            {% with logo_color="currentColor" %}
                {% include 'ylib_logo.svg' %}
            {% endwith %}
            <span class="ms-2 fw-semibold fs-5">Younha Library</span>
        </a>
        <ul class="list-unstyled small text-muted">
            <li class="mb-2">Designed and built by <a class="text-reset" href="https://twitter.com/happytogekiss">@happytogekiss</a>.</li>
            <li class="mb-2">이 사이트는 수익을 창출하지 않는 개인 프로젝트이며 C9 엔터테인먼트로부터 승인이나 지원을 받고 있지 않습니다.</li>
        </ul>
    </div>
</footer>
