<div class="offcanvas-header px-4 pb-0">
    <h5 class="offcanvas-title">Younha Library</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#yhNavbar"></button>
</div>
<div class="offcanvas-body p-4 pt-0 p-lg-0">
    <hr class="d-lg-none text-blue-50">
    <ul class="navbar-nav flex-row flex-wrap">
        <li class="nav-item col-6 col-lg-auto">
            <a class="nav-link" href="/about/">About</a>
        </li>
        <li class="nav-item col-6 col-lg-auto">
            <a class="nav-link" href="{% url 'media-list' %}">Gallery</a>
        </li>
        <li class="nav-item col-6 col-lg-auto">
            <a class="nav-link" href="/contact/">Contact</a>
        </li>
        <li class="nav-item col-6 col-lg-auto">
            <a class="nav-link" href="{% url 'media-search' %}"><i class="bi bi-search"></i></a>
        </li>
    </ul>
    <hr class="d-lg-none text-blue-50">
    <ul class="navbar-nav flex-wrap flex-auto ms-md-auto">
        <li class="nav-item col-6 col-lg-auto">
            <a class="nav-link" href="https://twitter.com/YounhaLibrary" target="_blank">
                <i class="bi bi-twitter"></i>
                <small class="d-lg-none ms-2">Twitter</small>
            </a>
        </li>
        <li class="nav-item col-6 col-lg-auto">
            <a class="nav-link" href="https://github.com/joonhyungshin/younha" target="_blank">
                <i class="bi bi-github"></i>
                <small class="d-lg-none ms-2">GitHub</small>
            </a>
        </li>
        <li class="nav-item py-2 py-lg-1 col-12 col-lg-auto">
            <div class="vr d-none d-lg-flex h-100 mx-lg-2"></div>
            <hr class="d-lg-none my-2 text-blue-50">
        </li>
        <li class="nav-item">
            <button class="btn btn-link nav-link d-flex align-items-center theme-toggler" data-bs-theme-value="auto">
                <i class="bi bi-circle-half"></i>
                <small class="d-lg-none ms-2">Dark mode toggle</small>
            </button>
        </li>
    </ul>
</div>
