<div class="offcanvas-header border-bottom">
    <h5 class="offcanvas-title">{% block sidebar-title %}Browse gallery{% endblock %}</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#yhSidebar"></button>
</div>
<div class="offcanvas-body">
    {% block sidebar-body %}
        <ul class="yh-sidebar-nav list-unstyled mb-0 pb-3 pb-md-2 pe-lg-2">
            <li class="yh-sidebar-group py-2">
                <strong class="fw-semibold"><i class="bi bi-camera"></i> <a class="yh-list-link" href="{% url 'creator-list' %}">Creators</a></strong>
                <ul class="list-unstyled fw-normal pb-2 small">
                    {% for creator in creator_list %}
                        {% if creator.platform and creator.platform.bootstrap_icon %}
                            <li><a class="yh-link d-inline-block rounded" href="{{ creator.get_absolute_url }}">{{ creator.name }} <i class="bi bi-{{ creator.platform.bootstrap_icon }}"></i></a></li>
                        {% else %}
                            <li><a class="yh-link d-inline-block rounded" href="{{ creator.get_absolute_url }}">{{ creator }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </li>
            <li class="yh-sidebar-group py-2">
                <strong class="fw-semibold"><i class="bi bi-tags"></i> <a class="yh-list-link" href="{% url 'tag-list' %}">Tags</a></strong>
                <ul class="list-unstyled fw-normal pb-2">
                    {% for tag in tag_list %}
                        <li><a class="yh-badge-link d-inline-block rounded" href="{{ tag.get_absolute_url }}"><span class="badge yh-badge">{{ tag }}</span></a></li>
                    {% endfor %}
                </ul>
            </li>
            <li class="yh-sidebar-group py-2">
                <strong class="fw-semibold"><i class="bi bi-link"></i> External links</strong>
                <ul class="list-unstyled fw-normal pb-2 small">
                    {% for link in external_links %}
                        <li><a class="yh-link d-inline-block rounded" href="{{ link.url }}" target="_blank">{{ link }} <i class="bi bi-box-arrow-up-right"></i></a></li>
                    {% endfor %}
                </ul>
            </li>
        </ul>
    {% endblock %}
</div>