{% extends 'base.html' %}

{% block sidebar_toggler %}
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#yhSidebar">
        <span class="navbar-toggler-icon"></span>
    </button>
{% endblock %}

{% block main %}
    <div class="container-xxl yh-layout mt-3 my-md-4">
        <aside class="yh-sidebar">
            <div class="offcanvas-lg offcanvas-start" id="yhSidebar">
                {% block sidebar %}{% endblock %}
            </div>
        </aside>
        <main class="yh-main">
            <div class="yh-intro">
                {% block intro %}{% endblock %}
            </div>
            <div class="yh-content">
                {% block content %}{% endblock %}
            </div>
        </main>
    </div>
{% endblock %}
