{% extends 'medialib/base_youtube.html' %}
{% load humanize %}

{% block title %}Youtube videos of {{ creator }}{% endblock %}

{% block intro %}
    <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a class="text-reset" href="{% url 'creator-list' %}">Creators</a></li>
            <li class="breadcrumb-item"><a class="text-reset" href="{% url 'creator-detail' creator.pk %}">{{ creator.name }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">YouTube</li>
        </ol>
    </nav>
    <div class="d-flex mb-4">
        <div class="flex-grow-1 d-flex align-items-center">
            <div class="flex-shrink-0">
                <a href="{% url 'creator-detail' creator.pk %}">
                    <img width="100rem" height="100rem" src="{{ creator.get_profile_img_url }}" class="border rounded-circle bg-secondary" alt="Profile">
                </a>
            </div>
            <div class="align-self-start ms-4">
                <a class="text-reset text-decoration-none" href="{% url 'creator-detail' creator.pk %}"><span class="fs-1 fw-semibold text-emphasis">{{ creator.name }}</span></a>
                <div class="mb-1">
                    {% for website in creator.websites.all %}
                        <a href="{{ website.url }}" target="_blank"><img width="20px" height="20px" src="{{ website.get_icon_url }}" alt="Icon"></a>
                    {% endfor %}
                </div>
                <span class="text-muted">미디어 {{ creator.media_count|intcomma }}개</span>
            </div>
        </div>
        <div class="align-self-start mt-2 me-1 d-none d-sm-block">
            <form action="{% url 'youtubevideo-search' %}" method="GET">
                <div class="input-group input-group-sm">
                    <input aria-label="Search" type="search" name="keyword" maxlength="20" class="form-control" placeholder="Search {{ creator.name }}">
                    <button type="submit" class="btn btn-outline-secondary"><i class="bi bi-search"></i></button>
                </div>
                <input type="hidden" name="creator" value="{{ creator.pk }}">
            </form>
        </div>
        <div class="mt-2 d-sm-none">
            <a href="{% url 'youtubevideo-search' %}?creator={{ creator.pk }}" class="btn btn-outline-secondary btn-sm"><i class="bi bi-search"></i></a>
        </div>
    </div>
    <h5><i class="bi bi-youtube"></i> <span class="fw-bolder">{{ creator.name }}</span>의 YouTube 영상</h5>
{% endblock %}
