{% extends 'medialib/base_flat.html' %}

{% block title %}Tags{% endblock %}

{% block intro %}
    <h1>Tags</h1>
    <p>윤하도서관에 있는 모든 태그입니다.</p>
{% endblock %}

{% block content %}
    {% regroup object_list by category as categories %}
    {% for category in categories %}
        {% if category.grouper %}
            <h4>{{ category.grouper }}</h4>
        {% else %}
            <h4>미분류</h4>
        {% endif %}
        <div class="mb-3">
            {% for tag in category.list %}
                <a class="yh-badge-link" href="{{ tag.get_absolute_url }}"><span class="badge yh-badge fs-6 me-1 mb-2">{{ tag }}</span></a>
            {% endfor %}
        </div>
    {% endfor %}
{% endblock %}
